.logoParent{
    position: absolute;
    left: 3vw;
    top: 3vw;
    width: 5vw;
    height: 5vw;
    text-decoration: none;
    text-align: center;
    font-size: 1.7vw;
    font-family: 'Raleway';
    border-radius: 15px;
    transition: border-radius 2s ease,
                background-color 0.6s linear,
                border-color 0.6s linear,
                color 0.3s linear,
                width 0.4s ease,
                height 0.4s ease;
    color: transparent;
    border: transparent 1px solid;
    z-index: 2;
}

.logoParent:hover{
    text-decoration: none;
    color: #f0f0f0 !important;
    z-index: 5;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.2),
                0px 3px 18px rgba(0,0,0,0.1);
}

.logoParent:hover > .logoInner > p{
    color: #f0f0f0 !important;
}

.logoCircle{
    position: absolute;
    left: 0;
    top: 0;
    width: 5vw;
    height: 5vw;
    border-radius: 50px;
    border: 1px solid black;
    transition: all 0.5s ease;
}

.logoMain{
    opacity: 1;
    position: absolute;
    top: 1.6vw;
    left: 1.15vw;
    color: black;
    transition: 0.3s opacity ease;
}

.logoSmile{
    opacity: 0;
    position: absolute;
    top: 1.6vw;
    left: 1.6vw;
    size: 2px;
    display: block;
    transition: 0.3s opacity ease;
}

.logoPage{
    position: absolute;
    top: 1vw;
    right: 0;
    margin-right: 2vw;
    text-align: right;
}

.logoInner{
    color: transparent;
    position: absolute;
    top: 5vw;
    left: 0;
    margin: 0 2vw 2vw 2vw;
    text-decoration: none;
    text-align: left;
    font-size: 1vw;
}

.logoInner > p{
    transition: color 0.6s ease;
}