.mobileColorBar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%;
    transition: background-color 0.4s ease,
                height 0.75s ease,
                box-shadow 0.7s ease;
    z-index: 6;
    box-shadow: 0px -2px 16px #888888;
}

.mobileNavCircle{
    position: absolute;
    top: 2vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50px;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    transition: all 0.2s ease,
                background-color 0.3s ease;
}

.mobileNavActive{
    background-color: #f0f0f0;
}

#mobileNavCircle1{
    right: 23vh;
}

#mobileNavCircle2{
    right: 16vh;
}

#mobileNavCircle3{
    right: 9vh;
}

#mobileNavCircle4{
    right: 2vh;
}