#mobileResumeHeader{
    width: fit-content;
    margin: 6vh auto 1vh auto;
    font-size: 26px;
}

#mobileSkills, #mobileEducation, #mobileWork{
    width: fit-content;
    margin: 0 auto 0 2vw;
}

.mobileResHeader{
    margin: 1vh auto 0 auto;
    font-size: 16px;
}

.mobileResH5{
    font-size: 12px;
    width: fit-content;
    margin: 0.5vh auto 0 5vw;
}

.mobileResumeDiv{
    margin: 6vh 5vw 0 5vw;
    animation: fadeIn 1s ease;
}

.mobileResumeInfoDisplay{
    background-color: rgb(209, 162, 18);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 10;
}

.mobileDisplayFill{
    margin: 5vh 15vw;
    z-index: 20;
}

#mobileDisplayFillName{
    font-size: 24px;
    font-family: "Overpass200";
    margin-bottom: 2vh;
}

#mobileDisplayFillDate,
#mobileDisplayFillTitle{
    font-size: 16px;
    font-family: "Overpass200";
    margin-bottom: 2vh;
}

#mobileDisplayFillArr{
    font-size: 12px;
    margin-top: 2vh;
}

#mobileResumeList > li:nth-child(even) {
    background-color: #b18500;
}

#mobileResumeList{
    padding: 0;
}

#mobileResumeList > li{
    margin-bottom: 1vh;
}

.mobileDisplayX{
    position: absolute;
    top: 3vh;
    right: 3vh;
}

.mobileDisplayPrev{
    position: absolute;
    top: 30%;
    left: 0;
    height: 40vh;
    width: 7vw;
}

.mobileDisplayPrev:active, .mobileDisplayNext:active{
    background-color: #B18500;
}

.mobileDisplayPrev > i{
    margin-top: 20vh;
    margin-left: 2vw;
}

.mobileDisplayNext{
    position: absolute;
    top: 30%;
    right: 0;
    height: 40vh;
    width: 7vw;
}

.mobileDisplayNext > i{
    margin-top: 20vh;
    margin-left: 2vw;
}